$primary: #2b6777;
$primary-dark: #275f6d;
$secondary: #c8d8e4;
$tertiary: #52ab98;
$white: #ffffff;
$off-white: #f2f2f2;
$black: black;
$main-font: Bahnschrift Condensed;
$h-font-size: min(max(40px, 6vw), 80px);
$p-font-size: min(max(20px, 3vw), 30px);

@mixin small-tile {
	p { font-size: 1.1rem; padding: 10px; color: $black }
  h1 { font-size: 1.2rem; height: 40%; padding: 10px; color: inherit; line-clamp: 1; }
  img { display: none; }
}
@mixin medium-tile {
  p { font-size: 1.2rem; padding: 10px; color: $black; }
  h1 { font-size: 1.3rem; color: inherit; padding: 0 10px 0 10px }
  img { width: 100%; height: 165px; position: relative; object-fit: cover;}
}
@mixin big-tile {
  p { font-size: 1.5rem; color: $off-white; padding: 20px; z-index: 2; position: relative; }
  h1 { font-size: 2rem; color: $off-white; padding: 20px; z-index: 2; position: relative; }
  img { width: 100%; height: 100%; position: absolute; object-fit: cover; }
}
